<div class="modal @(IsVisible ? "active":"")">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">@Title</h3>
            <button class="modal-close" @onclick="OnClose">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            @if (FormContent != null)
            {
                @FormContent
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public string Title { get; set; } = "Modal Title";
    [Parameter]
    public object? Model { get; set; }
    [Parameter]
    public RenderFragment? FormContent { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task Close() => await OnClose.InvokeAsync();
}
